In [44]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [45]:
df = pd.read_excel (r'C:\Users\Andri\Downloads\data lomba 2.xlsx')
print (df)

               NIM  ANGKATAN  SEMESTER KODE_MK  \
0      10110310002      2010      1011   EM100
1      10110310002      2010      1011   EM180
2      10110310002      2010      1011   TI100
3      10110310002      2010      1011   TI101
4      10110310002      2010      1011   TI110
...            ...       ...       ...     ...
30865        33849      2018      1821   IS220
30866        33849      2018      1821   IS240
30867        33849      2018      1821   IS251
30868        33849      2018      1821   IS255
30869        33849      2018      1821   UM223

                                    NAMA_MK  SKS  NILAI GRADE
0                  EM100 Dasar-dasar Bisnis    3   57.0     C
1                   EM180 Matematika Bisnis    3   70.0     B
2           TI100 Algoritma dan Pemrograman    4   57.0     C
3                  TI101 Matematika Diskrit    3   59.0     C
4      TI110 Pengantar Teknologi Multimedia    3   74.0     B
...                                     ...  ...    ...   ...
30865        Interaksi Manusia dan Komputer    3   26.0     E
30866            Probabilitas dan Statistik    3   38.0     E
30867                   Perilaku Organisasi    2   49.0     D
30868           Algoritma dan Struktur Data    4    1.0     E
30869                      Bahasa Inggris 2    2   40.0     E

[30870 rows x 8 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30870 entries, 0 to 30869
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NIM       30870 non-null  int64
 1   ANGKATAN  30870 non-null  int64
 2   SEMESTER  30870 non-null  int64
 3   KODE_MK   30870 non-null  object
 4   NAMA_MK   30847 non-null  object
 5   SKS       30870 non-null  int64
 6   NILAI     30858 non-null  float64
 7   GRADE     30318 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 1.9+ MB

In [60]:
data = df.groupby(['KODE_MK', 'SEMESTER'])['NILAI'].mean()

In [61]:
display(data)

KODE_MK  SEMESTER
CE441    1421        66.172414
         1511        68.135135
         1521        67.666667
         1611        65.597826
         1621        43.333333
                       ...
UM321    1621        74.557377
         1711        68.000000
         1721        75.839080
         1811        67.700000
         1821        56.250000
Name: NILAI, Length: 626, dtype: float64

In [62]:
data.to_excel("tren nilai mkkode.xlsx")

In [55]:
df1 = pd.read_excel (r'F:\File Evan H\data2\edom rata2.xlsx')
print (df1)

      TAHUN  SEMESTER                                      MATAKULIAH  \
0      2015      1511            IS100 Management Information Systems
1      2015      1511            IS100 Management Information Systems
2      2015      1511            IS100 Management Information Systems
3      2015      1511            IS100 Management Information Systems
4      2015      1511            IS100 Management Information Systems
...     ...       ...                                             ...
2109   2018      1821  IS726 Innovation in Information and Technology
2110   2018      1821  IS726 Innovation in Information and Technology
2111   2018      1821  IS726 Innovation in Information and Technology
2112   2018      1821  IS726 Innovation in Information and Technology
2113   2018      1821  IS726 Innovation in Information and Technology

      PERTANYAAN                                         KETERANGAN  NILAI
0              1          Kesiapan memberikan perkuliahan/praktikum   3.28
1              2  Upaya  menyampaikan materi perkuliahan/praktik...   3.25
2              3  Sistematis dalam menyampaikan materi perkuliah...   3.24
3              4  Kemampuan memberikan contoh yang relevan dari ...   3.30
4              5  Penyampaian materi perkuliahan sesuai dengan k...   3.27
...          ...                                                ...    ...
2109          10  Pemberian tugas/kuis serta pembahasannya di kelas   3.45
2110          11    Kemampuan memotivasi semangat belajar mahasiswa   3.41
2111          12      Kemampuan menerima kritik, saran dan pendapat   3.48
2112          13                Fairness dalam memberikan penilaian   3.49
2113          14  Ketepatan waktu dalam memulai dan mengakhiri p...   3.48

[2114 rows x 6 columns]

In [56]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2114 entries, 0 to 2113
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TAHUN       2114 non-null   int64
 1   SEMESTER    2114 non-null   int64
 2   MATAKULIAH  2114 non-null   object
 3   PERTANYAAN  2114 non-null   int64
 4   KETERANGAN  2114 non-null   object
 5   NILAI       2114 non-null   float64
dtypes: float64(1), int64(3), object(2)
memory usage: 99.2+ KB

In [57]:
data1 = df1.groupby(['MATAKULIAH', 'SEMESTER'])['NILAI'].mean()

In [58]:
display(data1)

MATAKULIAH                                  SEMESTER
IS100 Management Information Systems        1511        3.265000
                                            1611        3.534286
                                            1711        3.308571
                                            1811        3.321429
IS110 Business Mathematics                  1511        3.087143
                                                          ...
IS773 IT Governance 3                       1811        3.240714
IS782 Enterprise Application and Systems 3  1511        3.281429
                                            1611        3.372143
                                            1711        3.285714
                                            1811        3.310714
Name: NILAI, Length: 151, dtype: float64

In [59]:
data1.to_excel("edom rata2.xlsx")